.navbar.navbar-fixed-top
  form.navbar-search(action='')
      input.search-query.span2(type='text', placeholder='Search')
    .navbar-inner
      ul.nav.pull-right
        li
          a#link-map(href='/') Home
        li
          a#link-map(href='/map') Map
