script(src='js/lib/angular/angular.js')
script(src='js/lib/script/script.min.js')

// script
//   $script([
//     'js/lib/angular/angular-resource.min.js',
//     'js/lib/jquery/jquery-1.7.2.min.js',
//     'bootstrap/js/bootstrap.min.js',
//     'http://maps.googleapis.com/maps/api/js?key=AIzaSyBTmi_pcXMZtLX5MWFRQgbVEYx-h-pDXO4&sensor=false',
//     'js/app.js',
//     'js/services.js',
//     'js/controllers.js',
//     'js/filters.js',
//     'js/directives.js'
//     ], function() {
//       // when all is done, execute bootstrap angular application
//       angular.bootstrap(document, ['ofm']);
//     });


script(src='js/lib/angular/angular-resource.min.js')
script(src='js/lib/jquery/jquery-1.7.2.min.js')
script(src='bootstrap/js/bootstrap.min.js')
script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyBTmi_pcXMZtLX5MWFRQgbVEYx-h-pDXO4&sensor=false')
script(src='js/app.js')
script(src='js/services.js')
script(src='js/controllers.js')
script(src='js/filters.js')
script(src='js/directives.js')



script
  //https://github.com/twitter/bootstrap/issues/2475
  $(window).resize(function () {
    $('#map').css('height', ($(window).height() - 45));
  }).resize();
