header.jumbotron.masthead
  .inner
    h1 AngularJS - Google Maps

    h2
      b angular-google-maps 
      | is a project of particular interest to individuals 
      | working with AngularJS and would like to integrate Google Maps 
      | into their project. 

    p
      br
      br
      a.btn.btn-primary.btn-large(href='/map') View Map

      br
      br

    h2 Get Involved
    center
      b
          a(href='https://github.com/LarryEitel/angular-google-maps') Github project | 
          a(href='http://angular-google-maps.nodester.com') Live on nodester | 
          a(href='https://groups.google.com/forum/#!topic/angular/CM8ewcWeTF4') Discussion